@use "./utils.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: var(--clr-bg);
}

body,
input,
textarea,
select {
  font: var(--font-body);
  color: var(--clr-font);
}

#root {
  position: relative;
  min-width: 340px;
}

main {
  min-height: calc(100dvh - 5vh);
  padding: 2vh;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

section {
  display: flex;
  flex-direction: column;
  margin-block: 2em;
  gap: 1em;
}

h1 {
  font: var(--font-head);
  color: var(--clr-primary);
  text-align: center;
}

h2 {
  font: var(--font-sub-head);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: var(--clr-font);
  font-style: italic;
}

li {
  @extend .flex;
  list-style-type: none;
}

a,
button,
label {
  transition: all 0.4s ease-in-out;
  font: var(--font-link);
}

a:hover,
button:hover,
label:hover {
  cursor: pointer;
}

a {
  color: var(--clr-font);
  text-decoration: none;
  transition: all 0.2s linear;

  &:hover:not(.active) {
    color: var(--clr-primary);
  }

  &.active {
    background-color: var(--clr-primary);
    color: var(--clr-bg);
    border-radius: 0.2em;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  resize: vertical;
  min-height: 5em;
  max-height: 10em;
}


////////////////////////////// Animation ///////////////////////////////
@keyframes swiperIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.svg-container {
  animation: scaleIn 1.5s ease-in-out;
}

header,
main,
footer {
  animation: swiperIn 0.5s ease-in-out;
}



////////////////////////////// Responsive ///////////////////////////////

@media (900px < width) {
  main {
    padding: 2vh 4vw;
  }
}
